<div ng-app="PrimeNumberGeneratorApp">
	<div ng-controller="PrimeNumberGeneratorCtrl">
		Enter Number:&nbsp;
		<input type="number" ng-model="inputNumber" />
		<input type="button" value="Generate Prime List" ng-click="checkNumber()" />

		<ul>
			<li ng-repeat="result in results">
				<span ng-class="{green: !result.isChecking && result.isPrime, red: !result.isChecking && !result.isPrime, blue: result.isChecking}">
					{{result.number}}&nbsp;-&nbsp;
					<span ng-if="!result.isChecking && result.isPrime">prime</span>
					<span ng-if="!result.isChecking && !result.isPrime">not prime</span>
					<span ng-if="result.isChecking">checking...</span>
				</span>
			</li>
		</ul>
	</div>
</div>

@section scripts {
	@Scripts.Render("~/Scripts/angular.js")
	@Scripts.Render("~/Scripts/app/controllers/prime-number-generator-controller.js")
}